@font-face {
  font-family: "Icons";
  src: url('../fonts/icons/Icons.eot');
  src: url('../fonts/icons/Icons.eot?#iefix') format('eot'),
  url('../fonts/icons/Icons.woff2') format('woff2'),
  url('../fonts/icons/Icons.woff') format('woff'),
  url('../fonts/icons/Icons.ttf') format('truetype'),
  url('../fonts/icons/Icons.svg#Icons') format('svg');
}

@mixin icon-styles {
  font-family: "Icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

%icon {
  @include icon-styles;
}

@function icon-char($filename) {
  $char: "";

  @if $filename == click-icon {
    $char: "\E001";
  }
  @if $filename == decoration-icon {
    $char: "\E002";
  }
  @if $filename == email-icon {
    $char: "\E003";
  }
  @if $filename == handset-icon {
    $char: "\E004";
  }
  @if $filename == play-icon {
    $char: "\E005";
  }
  @if $filename == pointer-icon {
    $char: "\E006";
  }
  @if $filename == right-arrow-icon {
    $char: "\E007";
  }
  @if $filename == scroll-icon {
    $char: "\E008";
  }
  @if $filename == search {
    $char: "\E009";
  }
  @if $filename == view-icon {
    $char: "\E00A";
  }

  @return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
  &:#{$insert} {
    @if $extend {
      @extend %icon;
    } @else {
      @include icon-styles;
    }
    content: icon-char($filename);
  }
}

.icon-click-icon {
  @include icon(click-icon);
}

.icon-decoration-icon {
  @include icon(decoration-icon);
}

.icon-email-icon {
  @include icon(email-icon);
}

.icon-handset-icon {
  @include icon(handset-icon);
}

.icon-play-icon {
  @include icon(play-icon);
}

.icon-pointer-icon {
  @include icon(pointer-icon);
}

.icon-right-arrow-icon {
  @include icon(right-arrow-icon);
}

.icon-scroll-icon {
  @include icon(scroll-icon);
}

.icon-search {
  @include icon(search);
}

.icon-view-icon {
  @include icon(view-icon);
}
